<html>
	<head>
		<title>Blog APP</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> <!--find this css from  semantic ui cdn -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> <!-- must have slash -->
	</head>
	<body>
		<div class="ui fixed inverted menu">   <!--  from sementic ui menu: inverted menu means change color, similar to boostrap using inverse -->
			<div class="ui container"> <!-- ui container similar to boostrap container -->
				<div class="header item"><i class="lightbulb outline icon"></i>Blog Site</div>
								<!-- get lightbuld outline icon from sementic ui menu in icon 
									i tage is means to italicit, but it doesnt work in icon-->
				<a href="/" class="item">Home</a>  <!-- with href we can go to homepage -->
				<a href="/blogs/new" class="item">New Post</a>
			</div>

		</div>
		